<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Weibo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>933E5F851CF2D2B700C5F7BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>933E5F9E1CF2D2B700C5F7BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>933E5FA91CF2D2B700C5F7BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
